// font-family
$font-family : Helvetica;

// border color
$border-color : #cec7c7;

//content-background
$content-color : #FBF0F0;

// text color
$text-color : #a29e9e;
$text-color-blue : rgb(0, 0, 150)