
<div w3-include-html="../partials/header.html" class="header"></div>

<div class='uk-grid' id="rmG">
    
<div class="uk-width-auto">
    <div w3-include-html="../partials/sidenav.html"></div>
</div>
<div class="uk-width-expand">

    <div class="contentA">  
        <div w3-include-html="../partials/model.html"></div>
        <div class="title">All Mentor</div>
        <div class="table uk-card uk-card-body uk-card-default uk-overflow-auto">
            <table class="uk-table uk-table-large" id="table-mentor" >
                <thead>
                    <tr>
                        <td>Photo</td>
                        <td>Name Mentor</td>
                        <td>Email</td>
                        <td>Total Course</td>
                        <td>Total Students</td>
                        <td>Income</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody id="tBodyData">
                    
                </tbody>
            </table>

        </div>

    </div>
</div>
</div>