<!DOCTYPE html>

    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/css/uikit.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.1/dist/js/uikit-icons.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="../../css/framework.css">
        <link rel="stylesheet" href="../../css/mobile.css">
        <link rel="stylesheet" href="../../css/main.css">
        <script src="../../js/data.js"></script>
        <title>TEXT</title>
    </head>

    <body>
    <div class="notSupported">
        <center>Page Not Supported</center>

    </div>
    <div class="uk-container main-container" style="padding:0px; margin:0px;">
        
        <!-- <div class ="content-sm" style="display: flex;"> -->
            <div w3-include-html="../partials/Mentor.html"></div>
        <!-- </div> -->
        
    </div>
        
    </body>

    </html>
    <script src="../../js/importHtml.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/mentor.js"></script>

